<div class="address-form" id="provider-address-form">
  <%= render 'addresses/new_form', :prefix=>'provider', address: Address.new %>
</div>

<script type='text/javascript'>
  $(document).ready(function() {
    
    // happens after you submit an address (not autocomplete)
    // an id should be returned, and then the form should close.
    // if no id is returned, error messages are filled in. 
    $("body").on('ajax:success', '.address-search', function(evt, data, status, xhr){
      if (data && data.hasOwnProperty('id')) {
        $( $(this)[0].parentNode ).dialog( "close" );
        show_alert('Address was successfully created.', 'info');
      } else {
        $(this).find('.error').remove();
        //failed to create an address
        for (var field in data) {
          text_field = $('#' + data.prefix + "_" + field);
          error_element = text_field.attr('data-error-element');
          error_message = field + " " + data[field] + "; ";
          if (!error_element) {
            error_element_id = data.prefix + "_" + field
            text_field.after('<span class="error" id="' + error_element_id + '">' + error_message + "</span>");
            error_element = "#" + error_element_id;
            text_field.attr('data-error-element', error_element);
          }
          $(error_element).innerHtml = error_message;
        }
      }
    })
    
    // address dialog functionality
    // via http://jqueryui.com/demos/dialog/#modal-form 
    function makeDialogs() {
      $( ".address-form" ).dialog({
          autoOpen: false,
          height: 395,
          width: 600,
          modal: true,
          buttons: {
              "Add Address": function() {
                  form = $( this )[0].children[0];
                  $(form).trigger('submit'); 
              },
              Cancel: function() {
                $( this ).dialog( "close" );
              }
          }
      });
    };
    
    makeDialogs();

    $('#addProviderCommonAddress').click(function(e) {
      e.preventDefault();
      var form = $("#provider-address-form");
      form.dialog( "open" );  
      form.find('form')[0].reset();
      form.find('.error').remove();
    });
  });
</script>