- hide_header = false if local_assigns[:hide_header].nil?

- unless hide_header
  %div.clearfix#page-header
    = render 'title'

.row
  .col-sm-12
    .col-sm-3.col-md-2.provider_sidebar
      = render 'sidebar'
    .col-sm-9.col-md-10
      = render partial_name

= render 'shared/highlight_active_tab_js', is_primary_nav: false, tab_class: 'provider' 