<h2 class="section-header"><%=translate_helper("configure_provider_vehicle_maintenance_types")%></h2>
<%= link_to translate_helper("provider_vehicle_maintenance_types_link_text"), vehicle_maintenance_schedule_types_path, target: '_blank' %>
<hr />
<h2 class="section-header"><%=translate_helper("manage_vehicles")%></h2>
<%=link_to translate_helper("manage_vehicles_link_text"), vehicles_path, target: '_blank'%>