.panel.panel-primary#run_repetition_panel
  .panel-heading
    %h3.panel-title
      = translate_helper(:repetition)
  .panel-body{style: 'padding: 5px;'}
    = render 'repeating_trips/repetition_fields', f: f
    