#doubleBookedTripDialog.modal.fade.col-sm-12{ role: "dialog",
    "aria-hidden" => 'true',
    tabindex: "-1",
    data: {"backdrop": "true", "keyboard": "true" }}
  .modal-dialog
    .modal-content
      .modal-header
        .pull-right
          .submit-double-book-modal.btn.btn-primary{ data: {dismiss: 'modal'} }
            =translate_helper(:double_booked_modal_submit)
          .dismiss-double-book-modal.btn.btn-default{ data: {dismiss: 'modal'} }
            =translate_helper(:double_booked_modal_dismiss)
        %h5.modal-title{:style => "text-align:left;"}
          %strong
            = translate_helper(:double_booked_modal_title)
      .modal-body.row{:style => "text-align:left; margin: 0px;"}
        .col-sm-12{style: 'padding: 5px;'}
          %label=translate_helper(:double_booked_modal_message)
          %table#double-booked-trips-table
            %tr.header-row
              %th=translate_helper(:pickup_time)
              %th=translate_helper(:pickup_address)
              %th=translate_helper(:appointment_time)
              %th=translate_helper(:dropoff_address)
