.panel.panel-default
  .panel-heading
    %h3.panel-title
      = translate_helper(:filter)
  .panel-body
    .btns.pull-right
      = button_tag  translate_helper(:reset), class: 'btn action-button', role: 'button'
    