- edit_mode = :edit if !defined? edit_mode
.panel.panel-primary.trip_mobility_panel#trip_mobility_panel
  .panel-heading
    %h3.panel-title
      = translate_helper(:trip_mobility_panel)
  .panel-body{style: 'padding: 5px;'}
    - if edit_mode == :show
      = render 'trips/ridership_mobility_listing'
    - else
      = render 'trips/ridership_mobility_edit'
