:javascript
  // if customer has code, then need to verify the code first
  function handle_client_code_verification(customer_id, form) {
    var callback_fn = function(data) {
      if (data.show_prompt) {
        verify_client_code(data.code, "#{verify_code_customer_path('xxx')}".replace('xxx', customer_id), function() {
          form.submit();
        });
      } else {
        form.submit();
      }
    }

    if(customer_id) {
      var url = "#{prompt_code_customer_path('xxx')}".replace('xxx', customer_id);
      check_if_verify_client_code(url, callback_fn);
    } else {
      callback_fn({});
    }
  }

  // check if no mobility config
  function checkMissingMobilities() {
    var is_blank = true;
    var cell_count = $('.editable-number').length;
    for(var i =0; i<cell_count; i++) {
      var value = parseInt($($('.editable-number')[i]).text());
      if($.isNumeric(value) && value > 0) {
        is_blank = false;
        break;
      }
    }

    return is_blank;
  }

  // serialize existing numbers to save
  function getMobilities() {
    var data = [];
    $('.editable-number').each(function() {
      var mobility_id = $(this).data('mobility-id');
      var ridership_id = $(this).data('ridership-id');
      var value = parseInt($(this).text());
      if(!$.isNumeric(value)) {
        value = 0;
      }

      data.push({mobility_id: mobility_id, ridership_id: ridership_id, capacity: value});
    });

    return data;
  }

  $('.trip_form input[type=submit]').click(function(e) {
    e.preventDefault();

    // form validation to warn user about blank mobilities
    var is_mobility_blank = checkMissingMobilities();
    if(is_mobility_blank) {
      bootbox.confirm("You haven't configured trip mobilities. Are you sure to save the trip?", function(result) {
        if(result) {
          $('.trip_form').submit();
        }
      });
    } else {
      $('.trip_form').submit();
    }
  });

  $('.trip_form').submit(function() {
    // serializing mobilities
    if($('.inline-editing-table .editable-unsaved').length > 0) {
      $('.trip_form input[name=mobilities]').val(JSON.stringify(getMobilities()));
    }
  });