- trip_funding_source_codes = [[FundingSource::SHOW_ALL_ID, 'Show All']] + FundingSource.by_provider(current_provider).order(:name).pluck(:id, :name)
.trip_funding_source-filter{style: 'padding: 5px;'}
  = f.label :trips_funding_source_id, translate_helper(:funding_source)
  = f.collection_check_boxes :trips_funding_source_id, trip_funding_source_codes, :first, :last, { checked: session[:trips_funding_source_id] }, {class: 'trip-funding-source-filter', style: 'vertical-align: initial;'} do |b|
    .col-sm-12
      = b.check_box + " " + b.text

:javascript
  $(function() {
    var show_all_id = "#{FundingSource::SHOW_ALL_ID}";
    $('.trip-funding-source-filter[value=' + show_all_id + ']').change(function() {
      $('.trip-funding-source-filter[value!=' + show_all_id + ']').prop('checked', $(this).is(':checked'));
    });
  });