<div id="page-header" class="clearfix">
  <h1><%= translate_helper("editing_trip") %></h1>
  <%= render :partial => 'weekday_select' %>
  <div class="clearfix"></div>
</div>

<%= render 'form' %>

<%= render 'javascript' %>

