- if @ask_for_return_trip && @trip
  = render 'ask_for_return_trip_dialog', warning: @trip_warning
  :javascript
    $('#askCreatingReturnTripDialog').modal('show');
- else
  = render 'form', edit_mode: :show 

  :javascript
    $(".trip_form :input").attr("disabled","disabled");

