:css
  .dispatch-action {
    cursor: pointer;
    font-size: large;
    padding-left: 5px;
  }

  #runs_panel .panel-body, 
  .run_trips_panel .panel-body,
  #unscheduled_trips_panel .panel-body  {
    padding: 0px;
  }

  #runs_table, .run-manifest-table, #unassigned_trips_table {
    margin: 0px;
  }

  #runs_table tr th, 
  .run-manifest-table tr th,
  #unassigned_trips_table tr th {
    color: black;
    background-color: lightgrey;
  }

  .panel-success > .panel-heading {
    color: white;
    background-color: #3c763d;
    border-color: #3c763d;
  }

  .panel-warning > .panel-heading {
    color: white;
    background-color: #8a6d3b;
    border-color: #8a6d3b;
  }

  #unscheduled_trips_container {
    position: fixed;
    bottom: 0px;
    max-height: 230px;
    left: 0px;
    right: 0px;
    margin: 0px 0px 5px 0px;
    padding-bottom: 30px;
    background: white;
  }

  .drop-zone-active {
    -moz-box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    border: 2px solid #000;
  }
  
= render 'shared/highlight_active_tab_js', is_primary_nav: true, tab_class: 'trips_runs'
.col-md-2{style: 'padding: 0px 15px 0px 0px; margin-bottom: 230px;'}
  = render :partial => 'filters'
.col-md-10.dispatch-main{style: 'padding: 0px; margin-bottom: 230px;'}
  = render 'runs_list'
.col-md-12#unscheduled_trips_container
  = render 'unassigned_trips_panel'

:javascript
  $(document).on('click', '.panel-heading span.panel-expand-collapse', function(e){
    var $this = $(this);
    if(!$this.hasClass('panel-collapsed')) {
      $this.parents('.panel').find('.panel-body').slideUp();
      $this.addClass('panel-collapsed');
      $this.find('i').removeClass('fa-chevron-up').addClass('fa-chevron-down');
    } else {
      $this.parents('.panel').find('.panel-body').slideDown();
      $this.removeClass('panel-collapsed');
      $this.find('i').removeClass('fa-chevron-down').addClass('fa-chevron-up');
    }
  });

  $(document).on('click', '.panel-heading span.panel-expand-collapse-reverse', function(e){
    var $this = $(this);
    if(!$this.hasClass('panel-collapsed')) {
      $this.parents('.panel').find('.panel-body').slideUp();
      $this.addClass('panel-collapsed');
      $this.find('i').removeClass('fa-chevron-down').addClass('fa-chevron-up');
    } else {
      $this.parents('.panel').find('.panel-body').slideDown();
      $this.removeClass('panel-collapsed');
      $this.find('i').removeClass('fa-chevron-up').addClass('fa-chevron-down');
    }
  });

  $(document).on('click', '.panel-heading span.panel-close', function(e){
    var $panel = $(this).parents('.panel');
    $panel.hide('slow', function(){ $panel.remove(); });
  });