.panel.panel-primary
  .panel-heading= label_tag translate_helper("document_associations_documents_heading")
  .panel-body.form-horizontal
    %table#associated-documents.table.table-striped
      %thead
        %tr
          %th id
          %th Description
          %th File
          %th
      %tbody
        - @driver_history.documents.each do |doc|
          =render partial: 'document_associations/document_row', locals: {f: f, document: doc}
        =render partial: 'document_associations/document_row', locals: {f: f}
    .btn.btn-primary.add-document-row.pull-right Add Document
    
:javascript
  $(document).ready(function() {
  
    // Set _destroy to true and hide the row
    var deleteDocumentRow = function() {
      var row = $(this).closest('tr');
      row.find('input.destroy-document').prop('checked', true);
      row.addClass('hidden');
    }
    
    // Add a new document row on click of add-document-row button
    $('.add-document-row').click(function() {
      console.log($('table#associated-documents tr:last').after(
        "#{escape_javascript(render partial: 'document_associations/document_row', locals: {f: f})}"
      ).find('.delete-document-row'));
      
    });
    
    // Delete row on click of delete-document-row button
    $('.delete-document-row').click(deleteDocumentRow);
    
  });
