.panel.panel-warning#unassigned_trips_panel{style: 'margin: 0px;'}
  .panel-heading
    .pull-right
      = render 'unassigned_trips_schedule_dropdown'
      - if can?(:new, RepeatingTrip)
        %span.dispatch-action
          = link_to new_repeating_trip_path(from_dispatch: true), title: translate_helper("new_repeating_trip_text") do 
            %i.fas.fa-plus
      %span.panel-expand-collapse-reverse.dispatch-action{title: 'Collapse/expand'}
        %i.fas.fa-chevron-down
    %h3.panel-title
      = render 'unassigned_trips_panel_title'

  .panel-body
    = render 'recurring_dispatchers/unassigned_trips_table', trips: @unscheduled_trips