.panel.panel-primary#trip_repetition_panel
  .panel-heading
    %h3.panel-title
      = translate_helper(:repetition)
  .panel-body.form-horizontal{style: 'padding: 5px;'}
    = render 'repeating_trips/repetition_fields', f: f