= form_for :run_trip_filters, url: dispatchers_path, html: { :id => "run_trip_filter_form", class: 'form-inline' }, :method => :get do |f|
  .input-group.datepicker-icon
    = f.text_field :run_trip_day, :value => format_time_for_listing_day(@run_trip_day), class: "form-control datepicker", readonly: true
    .input-group-btn
      %button.btn.btn-default{:type => "button"}
        = image_tag "calendar-clock.png"
= render "shared/date_time_picker_javascript"
:javascript
  $(document).ready(function(){
    makeDatePickers();

    $('#run_trip_filters_run_trip_day').change(function() {
      $(this).parents('form').submit();
    });
  });
      
    