:ruby
  options = {}
  options[Run::UNSCHEDULED_RUN_ID] = 'Unscheduled'
  options[Run::STANDBY_RUN_ID] = 'Standby'
  options[Run::CAB_RUN_ID] = 'Cab' if current_provider.try(:cab_enabled?)
  unassigned_trip_status_id = session[:unassigned_trip_status_id].try(:to_i)

%span.dropdown.dispatch-action.unassigned_trip_type_dropdown{style: 'margin-bottom: 5px;', data: {status_id: unassigned_trip_status_id}}
  %a.dropdown-toggle.non_jump_top{href: '#', type: 'button', style: 'color: white; font-size: small;', data: {toggle: 'dropdown'}} 
    = "Showing "
    %b{style: 'color: pink;'}
      = options[unassigned_trip_status_id]
    %span.caret
  %ul.dropdown-menu
    - options.each do |status_id, label|
      %li
        %a.unassigned_trip_type.non_jump_top{href: '#', data: {status_id: status_id} }
          = label