:ruby
  options = {}
  options[Run::UNSCHEDULED_RUN_ID] = 'Unscheduled'
  options[Run::STANDBY_RUN_ID] = 'Standby'
  options[Run::CAB_RUN_ID] = 'Cab' if current_provider.try(:cab_enabled?)

%span.dropdown.dispatch-action.unschedule_trip_dropdown{style: 'margin-bottom: 5px;'}
  %a.dropdown-toggle.non_jump_top{href: '#', type: 'button', style: 'color: white; font-size: small;', data: {toggle: 'dropdown'}} 
    Assign to
    %i.fa.fa-ellipsis-h
    %span.caret
  %ul.dropdown-menu.pull-right      
    - options.each do |status_id, label|
      %li
        %a.unschedule_trip.non_jump_top{href: '#', data: {status_id: status_id} }
          = label