:javascript
  $(function() {
    function update_time(time_field) {
      var hour = time_field.find('.time_field_hour').val().trim();
      var min = time_field.find('.time_field_minute').val().trim() || "00";
      var am_pm = time_field.find('.am-pm').text().trim();

      if(hour && parseInt(hour) > 12) {
        var adjusted_hour = parseInt(hour);
        am_pm = 'PM';
        hour =  adjusted_hour - 12;
      }

      var time_str = "";
      if (hour && min && am_pm) {
        time_str = hour + ":" + min + " " + am_pm;
      }

      time_field.find('.time_field_value').val(time_str);      
    }

    $(document).on('click', 'button.am-pm', function() {
      if($(this).attr('data-is-pm') != 'false') {
        $(this).attr('data-is-pm', 'false');
        $(this).text('AM');
      } else {
        $(this).attr('data-is-pm', 'true');
        $(this).text('PM');
      }

      update_time($(this).parents('.time-field'));
    });

    $(document).on('change', 'input.time_field_hour, input.time_field_minute', function() {
      update_time($(this).parents('.time-field'));
    });
  });