- defined?(edit_mode) ? edit_mode : edit_mode = :edit 
.address-form#customer-address-form
  = render 'addresses/validate_form', :prefix=>'customer', address: Address.new

= render 'new_address_js'

:javascript 
  $(document).ready(function() {
    if(#{edit_mode == :show}) {
      $(".address-form input").attr("disabled","disabled");
      $('.ui-dialog button').hide();
    }

    $('#addCustomerCommonAddress').click(function(e) {
      e.preventDefault();
      var form = $("#customer-address-form");
      form.dialog( "open" );  
      $(".address-form input").removeAttr("disabled").removeAttr("readonly");
      form.find('form')[0].reset();
      form.find('input[type=hidden][name!=prefix]').val('');
      form.find('.error').html('');
      form.find('.full_address').show();
      form.find('.non_geocoding_address').hide();
    });

    $('#customerCommonAddressTable').on('click', '.deleteCustomerAddress', function(e) {
      e.preventDefault();

      $(this).parents('tr').remove();
    });

    $('#customerCommonAddressTable').on('click', '.viewAddress', function(e) {
      e.preventDefault();

      var form = $("#customer-address-form");
      form.dialog( "open" ); 

      if(#{edit_mode == :edit}) {
        form.find('form')[0].reset();
        form.find('input[type=hidden][name!=prefix]').val('');
        form.find('.error').html('');
        $(".address-form input.address_search").attr("disabled","disabled");
        $(".address-form input.address_non_street_mailing_address").attr("disabled","disabled");
        $(".address-form .non_geocoding_address input").attr("readonly","readonly");
      }
      address_obj = $(this).parents('tr').data('address');
      if(address_obj && address_obj.the_geom) {
        $('.address_non_street_mailing_address').prop('checked',false);
      } else {
        $('.address_non_street_mailing_address').prop('checked',true);
      }
      $('.address_non_street_mailing_address').change();
      populate_address_form( 'customer', address_obj);
    });
  });