- edit_mode = :edit if !defined? edit_mode

.panel.panel-primary#customer_eligibility_panel
  .panel-heading
    %h3.panel-title
      = translate_helper(:customer_eligibility_panel)
  .panel-body{style: 'padding: 5px;'}