<script type='text/javascript'>

  function populate_address_form(field, address) {
    if(!address) {
      return;
    }
    form = $("#" + field + "-address-form");
    form.find('#address_id').val(address.id);
    form.find('#' + field + '_name').val(address.name);
    //form.find('#' + field + '_building_name').val(address.building_name);
    form.find('#' + field + '_address').val(address.address);
    form.find('#' + field + '_full_address').val(address.label);
    form.find('#' + field + '_city').val(address.city);
    form.find('#' + field + '_state').val(address.state);
    form.find('#' + field + '_zip').val(address.zip);
    form.find('#' + field + '_lat').val(address.lat);
    form.find('#' + field + '_lon').val(address.lon);
    form.find('#' + field + '_phone_number').val(address.phone_number);
    form.find('#' + field + '_trip_purpose_id').val(address.trip_purpose_id);
    var in_district = [true, false].indexOf(address.in_district) >= 0 ? address.in_district.toString() : '';
    form.find('#' + field + '_in_district').val(in_district);
    form.find('#' + field + '_notes').val(address.notes);
  }

  function updateAddressRow(addressData, addressText) {
    var encodedAddressData = escapeQuotes(JSON.stringify(addressData));

    var table = $('#customerCommonAddressTable');
    var matchRow = table.find("tr[data-address-text='" + addressText+ "']");
    if(matchRow.length > 0) {
      var addressId = matchRow.attr('data-address-id');
      if(addressId && parseInt(addressId) != addressData.id){
        show_alert("<%= translate_helper(:same_address_exists_for_customer) %>");
      } else {
        matchRow.data('address', addressData);
        matchRow.attr('data-address', encodedAddressData);
        matchRow.find('td.address_name').replaceWith("<td class='address_name'>" + addressData.name + '&nbsp;<a class="viewAddress" href="#">(Edit details)</a></td>');
      }
    } else {
      table.append("<tr data-address-id='" + (addressData.id == null ? "" : addressData.id) + 
        "' data-address-text='" + addressText + "' data-address='" + encodedAddressData + "'>" +
        '<td><button class="deleteCustomerAddress btn-danger" name="button" type="button">Delete</button></td>' +
        "<td class='address_name'>" + addressData.name + '&nbsp;<a class="viewAddress" href="#">(Edit details)</a></td>' +
        "<td class='address_text'>" + addressText + "</td>" +
        '<td><input name="mailing" type="radio" value=false></td>' +
        "</tr>");
    }
  }

  $(document).ready(function() {
    
    // happens after you submit an address (not autocomplete)
    // an id should be returned, and then the form should close.
    // if no id is returned, error messages are filled in. 
    $("body").on('ajax:success', '.address-validate', function(evt, data, status, xhr){
        console.log('test');
      if (data.success) {
        $('#addAddressDialog').modal('hide');

        //insert a new address row
        updateAddressRow(data.attributes, data.address_text);
        
      } else {
        showAddressValidationErrors(this, data);
      }
    })
    
    // address dialog functionality
    // via http://jqueryui.com/demos/dialog/#modal-form 
    function makeDialogs() {
      $( ".address-form" ).dialog({
          autoOpen: false,
          height: 395,
          width: 600,
          modal: true,
          buttons: {
              "Save": function() {
                  form = $( this )[0].children[0];
                  $(form).trigger('submit'); 
              },
              "Cancel": function() {
                $( this ).dialog( "close" );
              }
          }
      });
    };
    
    //makeDialogs();
  });
</script>