- if !@customer.message.blank?
  #customer_flag_message.alert.alert-danger
    = @customer.message
= render 'form', edit_mode: :show, is_group: @customer.group
= render 'shared/date_range_inactivate_dialog', resource: @customer, inactivation_url: inactivate_customer_path(@customer)

:javascript
  $(document).ready(function() {
    $(".customer_form :input").attr("disabled","disabled");
    $('#inactivateCustomer').removeAttr('disabled');
    $(".address-form :input").attr("disabled","disabled");
    $('.ui-dialog button').hide();
  });