= form_for @query, :url=>url_for(:action=>:provider_common_location_report), :html=>{:method=>:get} do |f| 
  %fieldset
    = f.collection_select :address_group_id, AddressGroup.all, :id, :name, include_blank: 'All'
    = f.submit translate_helper("show")