.row.info-header{style: 'margin-top: 10px;'}
  .col-sm-12
    .btns.pull-right
      = button_tag type: :submit, id: 'runReporting', class: 'btn action-button controls' do
        = translate_helper(:run)
    - if report
      %h1= @is_generic_report ? report.name : report.display_name

  :javascript
    $('#runReporting').on('click', function() {
      $('.filter-form form').submit();
    });
