- report_id ||= 0
.row
  .col-sm-6
    %h4
      New Reports
    - v2_reports = @reports.select{|r| r[:version] == '2'}
    = render 'reporting/reports/dropdown', reports: v2_reports, report_id: report_id

  .col-sm-6
    %h4
      Previous Reports
    
    - v1_reports = @reports.select{|r| r[:version] == '1'}
    = render 'reporting/reports/dropdown', reports: v1_reports, report_id: report_id


  