<% @dates_in_range.each do |day| %>
  <tr class="<%= cycle("odd", "") -%>">
    <td>
      <%= format_time_for_listing_day day %>
    </td>
    <td>
      <% if @grouped_cab_trips.has_key?(day.to_s) && @grouped_cab_trips[day.to_s].size > 0 %>
        <%= link_to translate_helper("edit_x_cab_trips", count: (@grouped_cab_trips[day.to_s].size)), edit_multiple_cab_trips_path(start: day.in_time_zone.to_i) %>
      <% else %>
        No trips
      <% end %>
    </td>
    <td>
      <%= reimbursement_cost_for_trips current_provider, @grouped_cab_trips[day.to_s] %>
    </td>
  </tr>
<% end %>