<div class="panel panel-info">
  <div class="panel-heading">
    <h2 class="panel-title"><%= translate_helper("recurring_vehicle_maintenance_compliance_form_creation_notice_heading") %></h2>
  </div>
  <div class="panel-body">
    <p><%= translate_helper("recurring_vehicle_maintenance_compliance_form_creation_notice") %></p>
  </div>
</div>
