<% count = @recurring_vehicle_maintenance_compliance.compliance_based_scheduling? ? 1 : 6 %>
<p><strong>
  <% if [:both, :mileage].include? @recurring_vehicle_maintenance_compliance.recurrence_type.try(:to_sym) %>
    <%= translate_helper("recurring_vehicle_maintenance_compliance_form_schedule_mileage_preview_header", count: count) %>
  <% else %>
    <%= translate_helper("recurring_vehicle_maintenance_compliance_form_schedule_date_preview_header", count: count) %>
  <% end %>
</strong></p>
<div class="schedule-preview">
  <% if @schedule_preview.present? %>
    <%= render partial: "preview_dates", locals: {dates: @schedule_preview} %>
  <% else %>
    <p class="text-muted"><%= translate_helper("recurring_vehicle_maintenance_compliance_form_schedule_preview_placeholder_text") %></p>
  <% end %>
</div>
