<div class="clearfix">
  <ul class="list-group col-sm-12 col-md-6" style="margin-left: 0">
    <% dates.each do |date| %>
      <li class="list-group-item"><%= date %></li>
    <% end %>
  </ul>
</div>