<fieldset>
  <table class="ride_trips">
    <thead>
      <tr>
        <th>translate_helper("pickup_time")</th>
        <th>translate_helper("customer_name")</th>
        <th>translate_helper("in_district")</th>
        <th>translate_helper("trip_purpose")</th>
        <th>translate_helper("round_trip")</th>
        <th>translate_helper("guest_count")</th>
        <th>translate_helper("attendant_count")</th>
        <th>translate_helper("result")</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @run.trips.each do |trip| %>
        <%= render :partial => 'trip', :locals => {:trip => trip} %>
      <% end %>
    </tbody>
  </table>
  <hr />
  <% if can?(:create, Trip) && current_user.current_provider.allow_trip_entry_from_runs_page? %>
    <%= link_to translate_helper("new_trip"), new_trip_path(:start => @run.date.to_time.to_i, :run_id => @run.id), :class=>'action-bttn new', :id => 'trip_entry_from_run_page' %>
    <span id="search-spinner"></span>
  <% end %>
</fieldset>