- if !@is_vehicle_active || !@is_driver_active || !@is_driver_available
  var msg = [];
  - if !@is_vehicle_active
    msg.push("#{translate_helper(:vehicle_temporarily_inactive)}<br>");
  - if !@is_driver_active
    msg.push("#{translate_helper(:driver_temporarily_inactive)}<br>");
  - if !@is_driver_available
    msg.push("#{translate_helper(:unavailable_driver_for_run_time_range_warning)}<br>");

  bootbox.alert(msg.join(''));
- else
  $('.run_form').submit();