:css
  .availability_forecast_run_view_panel .panel-heading{
    background-color: gray;
    border-color: gray;
  }

.panel.panel-primary.availability_forecast_run_view_panel
  .panel-heading
    .pull-right{style: 'padding-right: 0px;'}
      %span.panel-expand-collapse{title: 'Collapse/expand'}
        %i.fa.fa-chevron-up
    Runs
  .panel-body.form-horizontal{style: 'padding:0px;'}