.panel.panel-primary.planned_leaves_panel
  .panel-heading
    .pull-right{style: 'padding-right: 0px;'}
      %span.panel-expand-collapse{title: 'Collapse/expand'}
        %i.fa.fa-chevron-up
    = translate_helper("driver_form_planned_leaves_heading")
  .panel-body.form-horizontal