.panel.panel-primary
  .panel-heading
    .pull-right{style: 'padding-right: 0px;'}
      %span.panel-expand-collapse{title: 'Collapse/expand'}
        %i.fa.fa-chevron-up
    = translate_helper("driver_form_recurring_availability_heading")
  .panel-body.form-horizontal{style: 'padding:0px;'}
    = render 'shared/availability_table', is_daily: false, operatable: @driver