<div id="page-header" class="clearfix">
  <h1><%= translate_helper("edit_vehicle_heading") %></h1>
</div>

<%= render :partial=>"form" %>

<% if current_user && can?(:edit, Provider) %>
<hr />
<%= link_to translate_helper("back_to_provider"), provider_path(current_user.current_provider), :class=>'action-bttn' %>
<% end %>
