// .action-button {
//   @extend .btn-primary;
//   color: white !important;
//   text-shadow: none;
//   margin-right: 5px;
//   padding: 3px 6px;
//   min-width: 5em;
//   @media(min-width:$screen-md-min){
//     min-height:34px; //this is the height for breadcrumb;
//   }
//   font-weight: bold;
// }

// a.btn-default
// {
//   color: #000;
// }

#customer_providers
{
  /*border: solid 1px black;
  border-radius: 4px;*/
  padding: 8px 8px 8px 0px;
  margin-bottom: 12px;
}

#customer_providers div
{
  padding: 0px;
}

.checkbox
{
  margin: 0px;
}

.radio + .radio,
.checkbox + .checkbox 
{
  margin: 0px;
}

.field_with_errors {
  @extend .has-error;
}

/* Get rid of the top blue border applied to all tables in Ridepilot, when using
   bootstrap table styling
*/
table.table 
{
  border-top: 0 none;
  border-bottom: 0 none;
  border-collapse: collapse;
  background: transparent;
}

// calendar
.fc-view {
  overflow: scroll;
  //max-height: 500px !important;

  table {
    min-width: 1000px !important;
  }
}

th.fc-resourceName {
  width: 1px; // set a small width so let it grow to max text length
}

.fc-event {
  cursor: pointer;
}

.row-highlight {
  background-color: yellow !important; 
}

.fc-day {
  min-width: 60px;
}

.fc-state-highlight {
  background-color: white !important;
}

/* overwrite .form-control that has 100% width */
.form-control-inline {
  min-width: 0;
  width: auto;
  display: inline;
}

.hidden-lookup-value {
  background-color: grey !important;
  color: white !important;
}

table.dataTable tbody tr.selected {
  background-color: #b0bed9 !important;
  font-weight: bold;
  font-style: italic;
}

.ineligible-reason {
  padding: 10px 0px;
}

.trip_table_result_column {
  min-width: 120px;
}

.label-help {
  font-size: small;
}

.pac-container {
    /* put Google geocomplete list on top of Bootstrap modal */
    z-index: 9999;
}

.address_search {
  width: 100%;
}

.place-picker-div .twitter-typeahead, .place-picker-div .tt-dropdown-menu {
  width: 100% !important;
}

.overdue-danger {
  background-color: red !important;
  color: white !important;
}

.overdue-warning {
  background-color: yellow !important;
}

.overdue-danger a {
  color: white !important;
}

/* bootstrap x-editable override */
.editable-unsaved {
  color: red !important;
}

.editable-input input{
  text-align: right;
  padding: 0px 5px !important;
  height: 25px !important;
}

.editable-input input[type=number]::-webkit-inner-spin-button, 
.editable-input input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.editable-input input[type="number"] {
  -moz-appearance: textfield;
}

.editable-buttons {
  display: none !important;
}

.editable-inline {
  width: 100% !important;
}

.editableform .control-group {
  width: 100% !important;
}

.editable-input {
  width: 100% !important;
}

.editable-input input{
  width: 100% !important;
}

.inline-editing-table td.input-column {
  width: 10%;
  min-width: 110px;
}

.vertical-resizable-panel {
  resize: vertical !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  min-height: 50px !important;
}
