.action-button {
  @extend .btn-primary;
  color: white !important;
  text-shadow: none;
  margin-right: 5px;
  padding: 3px 6px;
  min-width: 5em;
  @media(min-width:$screen-md-min){
    min-height:34px; //this is the height for breadcrumb;
  }
  font-weight: bold;
}

#customer_providers
{
  /*border: solid 1px black;
  border-radius: 4px;*/
  padding: 8px 8px 8px 0px;
  margin-bottom: 12px;
}

#customer_providers div
{
  padding: 0px;
}

.checkbox
{
  margin: 0px;
}

.radio + .radio,
.checkbox + .checkbox 
{
  margin: 0px;
}

th.fc-resourceName {
  width: 1px; // set a small width so let it grow to max text length
}

.fc-event {
  cursor: pointer;
}