- content_for :head do
  = stylesheet_link_tag 'reports_print', media: 'print'
= render 'shared/highlight_active_tab_js', is_primary_nav: true, tab_class: 'reports'
= render partial: 'reporting/reports/header'
= render partial: 'reporting/reports/list', locals: {reports: @reports, report_id: @custom_report.id, is_generic_report: false}